{% extends "base.html" %}
{% load static %}

{% block title %}Dettaglio Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">{{ cliente.codice_cliente }} - {{ cliente }}</h3>
            <div>
                <a href="{% url 'anagrafiche:cliente-update' cliente.pk %}" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Modifica
                </a>
                <a href="{% url 'anagrafiche:cliente-delete' cliente.pk %}" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Elimina
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5>Informazioni Principali</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Tipologia</dt>
                        <dd class="col-sm-8">{{ cliente.get_tipologia_display }}</dd>

                        <dt class="col-sm-4">Nome</dt>
                        <dd class="col-sm-8">{{ cliente.nome }}</dd>

                        <dt class="col-sm-4">Cognome</dt>
                        <dd class="col-sm-8">{{ cliente.cognome|default:"-" }}</dd>

                        <dt class="col-sm-4">Ragione Sociale</dt>
                        <dd class="col-sm-8">{{ cliente.ragione_sociale|default:"-" }}</dd>

                        <dt class="col-sm-4">Codice Cliente</dt>
                        <dd class="col-sm-8">{{ cliente.codice_cliente }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <h5>Dati Fiscali</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Partita IVA</dt>
                        <dd class="col-sm-8">{{ cliente.partita_iva|default:"-" }}</dd>

                        <dt class="col-sm-4">Codice Fiscale</dt>
                        <dd class="col-sm-8">{{ cliente.codice_fiscale|default:"-" }}</dd>
                    </dl>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <h5>Contatti</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Indirizzo</dt>
                        <dd class="col-sm-8">{{ cliente.indirizzo }}</dd>

                        <dt class="col-sm-4">Città</dt>
                        <dd class="col-sm-8">{{ cliente.citta }}</dd>

                        <dt class="col-sm-4">CAP</dt>
                        <dd class="col-sm-8">{{ cliente.cap }}</dd>

                        <dt class="col-sm-4">Provincia</dt>
                        <dd class="col-sm-8">{{ cliente.provincia }}</dd>

                        <dt class="col-sm-4">Telefono</dt>
                        <dd class="col-sm-8">{{ cliente.telefono|default:"-" }}</dd>

                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">{{ cliente.email|default:"-" }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <h5>Altre Informazioni</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Data Creazione</dt>
                        <dd class="col-sm-8">{{ cliente.data_creazione|date:"d/m/Y H:i" }}</dd>

                        <dt class="col-sm-4">Ultima Modifica</dt>
                        <dd class="col-sm-8">{{ cliente.data_modifica|date:"d/m/Y H:i" }}</dd>
                    </dl>

                    {% if cliente.note %}
                    <h5 class="mt-3">Note</h5>
                    <div class="card">
                        <div class="card-body">
                            {{ cliente.note|linebreaks }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-3">
        <a href="{% url 'anagrafiche:cliente-list' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Torna alla Lista
        </a>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock %}